<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- el DB que he usado -->
        <!-- driver:tipo de base de datos / nombre conexion / nombre schema -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/empresa</property>
        <!-- Al no poner un property del password, estara vacio por defecto -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- create si quiero hacer una tabla nueva cada vez que ejecute el codigo -->
        <property name="hbm2ddl.auto">update</property>
       	<!-- Para mostrar el query por consola -->
       	<property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>
